* text=auto eol=lf

*.cs text eol=lf diff=csharp
*.asmdef text eol=lf
*.json text eol=lf
*.meta text eol=lf
*.rsp text eol=lf
*.uxml text eol=lf
*.uss text eol=lf
*.md text eol=lf
*.yml text eol=lf

*.png binary
*.jpg binary
*.dll binary
